/* Smallest, Phones */
@media screen and (max-width: 479px) {
    h1{
        font-size: 2.75em;
    }
    h2{
        font-size: 2.09em;
    }
    h3, h4{
        font-size: 1.65em;
    }
    p{
        font-size: 1.54em;
    }
    li{
        font-size: 1.93em;
    }
    .bio{
        font-size: 1.2em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 1.65em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 1.54em;
    }
    h2 ul{
        font-size: 1.54em;
    }
    p ul{
        font-size: 1.21em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Extra Small Devices, Phones */
@media screen and (min-width: 480px) {
    h1{
        font-size: 2.97em;
    }
    h2{
        font-size: 2.26em;
    }
    h3, h4{
        font-size: 1.78em;
    }
    p{
        font-size: 1.66em;
    }
    li{
        font-size: 2.07em;
    }
    .bio{
        font-size: 1.3em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 1.78em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 1.66em;
    }
    h2 ul{
        font-size: 1.66em;
    }
    p ul{
        font-size: 1.31em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
    h1{
        font-size: 3.19em;
    }
    h2{
        font-size: 2.43em;
    }
    h3, h4{
        font-size: 1.91em;
    }
    p{
        font-size: 1.78em;
    }
    li{
        font-size: 2.22em;
    }
    .bio{
        font-size: 1.4em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 1.91em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 1.78em;
    }
    h2 ul{
        font-size: 1.78em;
    }
    p ul{
        font-size: 1.41em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Large Devices, Wide Screens */
@media screen and (min-width: 1200px) {
    h1{
        font-size: 3.52em;
    }
    h2{
        font-size: 2.67em;
    }
    h3, h4{
        font-size: 2.11em;
    }
    p{
        font-size: 1.97em;
    }
    li{
        font-size: 2.46em;
    }
    .bio{
        font-size: 1.5em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 2.11em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 1.97em;
    }
    h2 ul{
        font-size: 1.97em;
    }
    p ul{
        font-size: 1.55em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}