/* Smallest, Phones */
@media screen and (max-width: 479px) {
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 0.8em;
    }
    h3, h4{
        font-size: 0.65em;
    }
    p, .bio, li{
        font-size: 0.55em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 0.65em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 0.55em;
    }
    h2 ul{
        font-size: 0.55em;
    }
    p ul{
        font-size: 0.45em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Extra Small Devices, Phones */
@media screen and (min-width: 480px) {
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 0.8em;
    }
    h3, h4{
        font-size: 0.65em;
    }
    p, .bio, li{
        font-size: 0.65em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 0.65em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 0.55em;
    }
    h2 ul{
        font-size: 0.55em;
    }
    p ul{
        font-size: 0.45em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.05em;
    }
    h3, h4{
        font-size: 0.8em;
    }
    p, .bio, li{
        font-size: 0.65em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 0.8em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 0.65em;
    }
    h2 ul{
        font-size: 0.65em;
    }
    p ul{
        font-size: 0.55em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}

/* Large Devices, Wide Screens */
@media screen and (min-width: 1200px) {
    h1{
        font-size: 1.2em;
    }
    h2{
        font-size: 0.95em;
    }
    h3, h4{
        font-size: 0.75em;
    }
    p, .bio, li{
        font-size: 0.65em;
    }
    section{
        margin: 1em;
    }
    .project-title{
        font-size: 0.75em;
    }
    .project-name, .project-role, .project-tools, .read-more{
        font-size: 0.65em;
    }
    h2 ul{
        font-size: 0.65em;
    }
    p ul{
        font-size: 0.5em;
    }
    .project-img-smaller-wide img{
        max-width: 50%;
    }
}