*{
	font:"Times New Roman"
}

body {
    background-color: white;
	/* #8fc951 = (143,201,81) RGB */
	animation-name: background;
    animation-duration: 2s;
}

@keyframes background {
    from {background-color: black;}
    to {background-color: white;}
}

p, a{
	text-align: center;
}

h1{
	color: black;
}

content {
    color: black;
    text-align: center;
}

img {
    padding: 5px;
    width: 50px;
	margin: auto;
}