/* keyframes animations */
@keyframes bubbles {
	from {background-color: #FFFFFF;}
	to {background-color: #F5D76E;}
}
@keyframes wiggle {
	0% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}
    100% {transform: rotate(1deg);}
}

/* main css */
*{
	color: white;
	/*font-family: 'Libre Baskerville', sans-serif; font-weight: 400; */
	font-family: 'Concert One', cursive;
}
html {
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 100%;
}
code{
	font-family:courier;
}
body {
	max-width: 100%;
	overflow-x: hidden;
	padding: 0em;
	margin: 0em;
	background-color: #3498db;/*#03C9A9;*/
	/* #8fc951 = (143,201,81) RGB
	   #6C7A89 gray #03C9A9 green
	*/
	animation-name: background;
	animation-duration: 3s;
}
/* apply to nav and nav li's */
nav{
	position: fixed;
	top: 0;
	width:100%;
	overflow: hidden;
	margin: 0em;
	background-color: rgba(0, 50, 255, 0.2);
}
#first-section{
	margin-top: 10em;
}
nav li{
	background: #2ecc71;/*#6C7A89;*/
	margin-top: 1.5em;
	max-width: 25%;
	padding: 0.5em;
	margin: 1em;
	margin-bottom: 1em;
}
/* word bubbles */
li{
	/*margin: 0.25em;
	margin-bottom: 0.25em;	*/
	margin-top: 0.5em;
	padding: 0em 0em 0em 0em;
}
nav li a{
	text-decoration: none;
}
/* G logo needs a white background */
nav li img{
	background: white;
	margin: 0em;
	overflow: hidden;
}
#logo{
	border: 1em solid white;
	background: white;
	margin: 0em;
	margin-top: 1em;
	margin-left: 1em;
	padding: 0em;
	overflow: hidden;	
}
#logo:hover{
	border: 1em solid #F5D76E;
	animation-name: bubbles;
	animation-duration: 0.5s;
}

header{
	padding: 1em;
	margin: 0em;
}
h1{
	font-family: 'Permanent Marker', cursive;
	animation-name: wiggle;
	animation-duration: 2s;
}
h2{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
h3, h4, p, .bio, .read-more, .copyright{
	font-family: 'Concert One', cursive;
}
strong{
	font-family: 'Concert One', cursive;
	text-shadow: 2px 2px #003171;/*#6C7A89;*/
}
.headshot{
	width: 33%;
	min-width: 5em;
	max-width: 10em;
	overflow: hidden;	
	/*border-radius: 2em;*/
	padding-bottom: 1em;
	padding-left: 1em;
}
footer{
	text-align:center;
}
section, footer{
	padding: 1em;
	width: 100% auto;
	margin: 2em;
	background-color: #2980b9;
	border-radius: 2em;
}

/* styling for list of links */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
} 
li {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 0.5em;
	margin-left: 1em;
	text-decoration: none;
	border-radius: 10em;
	background-color: white;
}
li:hover {
	background-color: #F5D76E; /*#2ecc71*/
	animation-name: bubbles;
	animation-duration: 0.5s;
} 
.read-more {
	float:right;
	padding:2em;
}
.icon {
	padding: 5px;
	width: 50px;
}
.scrollToTop{
	float: center;
	display : block;
    width   : 10em;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
	border: 2px solid #4CAF50; /* Green */
    box-shadow: 0em 0em 2em #003171;/*#F5D76E;*/
	width: 100%;
}