.post-container {
    margin: 0.5em 0.5em 1em 0em;  
    border: 0.5em solid #0067c5;
    overflow: auto;
	font-size: 50%;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
	height: 100% auto;
	width: 100% auto;
}
.post-content {
    margin-left: 10em;
	padding: 0.5em;
}
.post-title {
    font-weight: bold;
    font-size: 250%;
	text-align: center;
    padding: 0.25em;
    background: #0067c5;
	border: 0.1em solid white;
}