#project-container {
    margin: 0.5em 0.5em 1em 0em;  
    border: 0.5em solid #0067c5;
    overflow: auto;
	font-size: 50%;
	background-color: black;
}
.project-thumb {
    float: left;
}
.project-thumb {
    display: block;
	max-width: 33%;
	min-width: 8em;
    height: auto;
	/*height: 100% auto;
	width: 100% auto;*/
}
.project-content {
	float: center;
    margin-left: 33%;
	padding: 0.5em;
	/*border: 0.5em solid yellow;*/
	text-align: left;
	font-size: 2em;	
	max-width: 70%;
	min-width: 8em;
}
.project-title {
    font-weight: bold;
    font-size: 250%;
	text-align: center;
    padding: 0.25em;
    background: #0067c5;
	border: 0.1em solid white;
}